# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Logs
*.log

# Env vars
.env
.env.*

# Vite / React
dist/
build/

# OS files
.DS_Store
Thumbs.db

# VS Code / IDEs
.vscode/
.idea/

# Testing
coverage/
jest-html-reporters-*

# Terraform (si utilisé)
*.tfstate
*.tfstate.backup
.terraform/

# Mac/Linux swap files
*.swp
